
.header {
	background-color: #282f37;
	height: 90px;


}

.header-box {
	width: 1132px;
	height: 71px;
	margin: auto;
	
}

.logo-container {

}

.horizontal-line {
	height: 1px;
	background-color: #242a31;
}

.horizontal-line2 {
	height: 18px;
	background-color: #313841;
}