body {
	background-color: #e5e7e9;

}

div {
	font-family: "Myriad Pro";
}

.header {
	background-color: #282f37;
	height: 90px;
	color: white;
	letter-spacing: 1px;
	position: fixed;
	top:0;

	margin: auto;

}



.header-box {
	width: 1132px;
	height: 71px;
	margin: auto;
	
	text-transform: uppercase;
}

.logo-container {
	float: left;
	margin-top: 8px;
	margin-left: 5px;

}

.top-menu li {
	display: inline-block;
	font-size: 14px;
	
	
	
	
	margin: 15px;

}

.button {
	float: right;
	font-size: 13px;
	padding: 8px;
	height: 12px;	
	background-color: #2697dd;
	text-transform: uppercase;
	color: white;
	border-radius: 2px;
}

.horizontal-line {
	height: 1px;
	background-color: #242a31;

}

.horizontal-line2 {
	height: 18px;
	background-color: #313841;
}

.middle-container {
	
	float: left;
	max-width: 800px;

	margin-top: 150px;
}

.middle-block {

	font-size: 25px;
	margin: 15px;
	background-color: #fff;
	color: #225874;
}

.micro-header {
	float: left;
}

.micro-header-and-button {
	overflow: hidden;
	background-color: #eaeff2;
	margin: 1px;
	border-top: 1px solid white;
	max-width: auto;
	padding: 15px;
}

/*.arrow {
  background-image: url("images/arrow.png");
  position: absolute;
  left: 911px;
  top: 164px;
  width: 11px;
  height: 15px;
  z-index: 95;
}*/

.micro-header-and-button .button {

	float: right;
}
.header-box .button {

	position: relative;
	bottom: 20px;

}

.mb-text {
	font-size: 14.9px;
	letter-spacing: 1px;
	color: #225874;
	line-height: 22px;
}

.mb-text p {
	margin-top: 9px;
}

.total-middle-container {
	overflow: hidden;
	margin:auto;

}

.right-menu {
	max-width: 300px;
	float: right;
}




