
.header {
	background-color: #282f37;
	height: 90px;


}

.header-box {
	width: 1132px;
	height: 71px;
	margin: auto;
	
}

.logo-container {
	float: left;

}

.top-menu li {
	display: inline-block;
	font-size: 15px;
	font-family: "Myriad pro Semibold";
	color: white;
	text-transform: uppercase;
	font-weight: 200;
	margin: 10px;

}

.horizontal-line {
	height: 1px;
	background-color: #242a31;
}

.horizontal-line2 {
	height: 18px;
	background-color: #313841;
}